<header class="page-header" role="banner">
    <div id="scene">
        <div data-depth="0.10" class="layer full-size"><div class="background"></div></div>
        <div data-depth="0.80" class="layer"><div class="bottle-1"></div></div>
        <div data-depth="0.20" class="layer"><div class="bottle-2"></div></div>
        <div data-depth="0.25" class="layer"><div class="bottle-3"></div></div>
        <div data-depth="0.50" class="layer"><div class="bottle-4"></div></div>
        <div data-depth="0.50" class="layer"><div class="bottle-5"></div></div>
        <div data-depth="0.25" class="layer"><div class="glass-1"></div></div>
        <div data-depth="0.80" class="layer"><div class="glass-2"></div></div>
        <div data-depth="0.30" class="layer"><div class="glass-4"></div></div>
        <div data-depth="0.90" class="layer"><div class="glass-5"></div></div>
    </div>
    <div class="header-container">
        <div class="glass">
            <h1 class="project-name">{{ page.title }}</h1>
            <h2 class="project-tagline">{{ page.description }}</h2>
            <a id="discover-button" href="#" class="btn">{{ page.button }}</a>
        </div>
    </div>
</header>