<div class="team-container">
    <h1>Sip, savor, and meet the story brewers 🍻</h1>
    <div class="team">
        <div class="team-member">
            <h2>Yağız Gençer</h2>
            <h3>Communication Systems</h3>
            <p>I once chugged a half-frozen beer, my sixth of the night in a total of 11, because my friends promised to buy the next round if I did. I got my brain half-frozen ever since.</p>
        </div>
        <div class="team-member">
            <h2>Tuğba Tümer</h2>
            <h3>Computer Science</h3>
            <p>My favourite beer is Heineken. It's my favorite drink, I can have it every day and even drink 7 or 8 in one day. And yes, I'm proud of it.</p>
        </div>
        <div class="team-member">
            <h2>Rishi Sinha</h2>
            <h3>Communication Systems</h3>
            <p>This project started before I was legally allowed to drink beer.</p>
        </div>
        <div class="team-member">
            <h2>Iris Toye</h2>
            <h3>Neuro-X</h3>
            <p>I brew my own beer! And my favorite style is IPA.</p>
        </div>
        <div class="team-member">
            <h2>Hadrien Sevel</h2>
            <h3>Mechanical Engineering</h3>
            <p>I served a beer to a shirtless old guy at Montreux Jazz - turns out it was Iggy Pop.</p>
        </div>
    </div>
</div>
